/* Navbar Extend */
.custom_nav_extend-off {
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 1em;
    width: 92.3%;
}

    .custom_nav_extend-off img {
        margin-left: 1em;
        width: 2em;
        height: auto;
    }

.custom_nav_extend {
    background-color: rgb(50, 50, 50);
    height: 30%;
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 1em;
    border-radius: 0%;
    width: 92.3%;
    animation-name: SlideRight;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 1;
}

.custom_nav_extend_img {

}
    .custom_nav_extend_img img {
        margin-left: 1em;
        width: 2.5em;
        height: auto;
    }

    .custom_nav_extend_img img:active {
        margin-left: 1em;
        width: 2.5em;
        height: auto;
    }

.custom_nav_extend_ul {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1em;
}

    .custom_nav_extend_ul li {
        padding: 0.5em;
        list-style: none;
        margin-bottom: 0.5em;
        border-radius: 3%;
        background-color: rgb(27, 27, 27);
        color: rgb(235, 235, 235);
        transition: all 0.1s ease-in-out;
    }

    .custom_nav_extend_ul li:hover {
        background-color: rgb(235, 235, 235);
        color: rgb(27, 27, 27);
        transition: all 0.1s ease-in-out;
    }

    .custom_nav_extend_ul a {
        text-decoration: none;
        color: inherit;
    }

    .custom_nav_extend_ul a:hover {
        text-decoration: none;
    }

.custom_nav_extend_show {
    display: absolute;
}

.custom_nav_extend_none {
    display: none;
}

@media (min-width:450px) {
    .custom_nav_extend-off {
        margin-top: 4.9em;
        left: -1%;
        top: 2%;
        padding: 2em;
        width: auto;
    }
    
        .custom_nav_extend-off img {
            margin-left: 1em;
            width: 2.5em;
            height: auto;
        }

    .custom_nav_extend {
        margin-top: 4.9em;
        left: -1%;
        top: 2%;
        padding: 2em;
        border-radius: 2%;
        width: auto;
    }
    
    .custom_nav_extend_img {
    
    }
        .custom_nav_extend_img img {
            margin-left: 1em;
            width: 2.5em;
            height: auto;
        }
    
    .custom_nav_extend_ul {
        margin-top: 1em;
        font-size: 1.1em;
    }
    
        .custom_nav_extend_ul li {
            padding: 0.5em;
            list-style: none;
            margin-bottom: 0.5em;
            border-radius: 3%;
        }
    
        .custom_nav_extend_ul a {
            text-decoration: none;
        }
}


@keyframes SlideRight{
    0% {
        left: -100%;
      }
      100% {
        left: -1;
      }
}
/* ----------------------------- */

